[uwsgi]
req-logger = file:/var/log/uwsgi.req.log
logger = file:/var/log/uwsgi.err.log
socket = 127.0.0.1:3031
chdir = /opt/{{ project_name }}
wsgi-file = /opt/{{ project_name }}/{{ project_name }}/wsgi.py
processes = {{ uwsgi_procsses }}
threads = {{ uwsgi_threads }}
stats = 127.0.0.1:9191